.pro-descriptions__item {
  width: inherit !important;
  min-width: unset !important;
}
.pro-descriptions {
  .el-descriptions__title {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: var(--title-margin-left);
    font-size: 14px;
    color: var(--el-color-primary);
    &::before {
      position: absolute;
      left: 0;
      display: var(--is-show-mark);
      width: 3px;
      height: 100%;
      content: "";
      background-color: var(--el-color-primary);
    }
  }
}
